/* Style Document */
body {
	font-family: sans-serif;
	width: auto;
	margin: 0;
	background-color: #5c5c5c;
}

h1 {
	font-family: sans-serif;
	font-size: 40px;
	text-align: center;
}

p {
	font-family: sans-serif;
	color: #000000;
	text-align: center;
}

ul {
	margin: 0;
	padding: 0;
	overflow: hidden;
	position: -webkit-sticky;
	position: sticky;
	top: 0;
}

/* NAVIGATION */
.topnav {
	height: 50px;
	background-color: white;
	overflow: hidden;
	text-align: center;
}

.topnav p{
	display: inline-block;
	position: absolute;
	left: 0px;
	text-align: left;
	padding-left: 20px;
}

.topnav li{
	display: inline-block;
}

.topnav a {
	font-family: sans-serif;
	background-color: white;
	color: black;
	padding: 14px;
	text-decoration: none;
	font-size: 17px;
	height: auto;
}

.topnav a:hover {
	color: cyan;
}

.topnav a.active {
	color: blue;
	text-emphasis: bold;
}

/* Main Body */
.main-body{
	width: 50%;
	height: auto;
	min-height: 100px;
	background-color: #17dfe6;
	margin-left: auto;
	margin-right: auto;
	display: inline-block;
}

/* FOOTER */
footer{
	height: 150px;
	width: 100%;
	background-color: #333;
	position: absolute;
	bottom: 0;
}

footer a:visited{
	color: white;
}

footer img{
	height: 20px;
	width: 20px;
	vertical-align: auto;
}

footer p, a{
	text-align: center;
}

footer h1{
	padding: 10px;
	font-size: 15px;
	color: white;
}

.find-me{
	text-align: center;
	font-family: sans-serif;
}

.find-me a{
	color: white;
}

.find-me article{
	display: inline-block;
	padding-inline: 15px;
	height: 40%;
}

.creatornote{
	font-size: 12px;
	color: lightgray;
	height: 20%;
	text-align: left;
	padding-left: 20px;
	width: 75%;
}

/* PROJECTS VIEWER */
.project-header {
	text-align: left;
	padding-left: 10px;
}