/* Font Import */
@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&display=swap');

/* Variables */
:root{
    --background-colour: #22333B;
    --nav-colour: #1A252B;
    --text-colour: #EAE0D5;
    --header-img: url("/projects/constructing-change/CC_main-menu.png");
}

/* Font Settings */
h1{
    font-family: "Outfit", sans-serif;
    font-optical-sizing: auto;
    font-weight: 700;
    font-style: normal;
    font-size: 36pt;
    color: var(--text-colour);
}

h2{
    font-family: "Outfit", sans-serif;
    font-optical-sizing: auto;
    font-weight: 500;
    font-style: normal;
    font-size: 24pt;
    color: var(--text-colour);
}

p, a{
    font-family: "Outfit", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    font-size: 12pt;
    color: var(--text-colour);

    /* Text Decoration for <a> */
    text-decoration: none;
}

/* Smooth Scrolling for ID'd Divs */
html{
    scroll-behavior: smooth;
}

/* General Body */
body{
    margin: 0;

    /* Set Font Default/Fallback */
    font-family: "Outfit", sans-serif;

    /* Set BG */
    background-color: var(--background-colour);

    width: 100%;
}

.outer-row-container{
    display: flex;
    flex-direction: column;

    width: 100%;
}

.inner-column-container{
    display: flex;
    flex-direction: column;

    width: 100%;
}

/* Mobile Styling */
.navigation{
    background-color: var(--nav-colour);

    display: flex;
    flex-direction: row;

    position: sticky;
    position: -webkit-sticky;

    top: 0;

    width: 100vw;
    height: 45px;

    overflow-x: scroll;
}

.navigation a{
    padding-left: 3%;
    padding-right: 3%;

    align-self: center;
}

.header-image{
    width: 100%;
    height: 360px;

    text-align: center;
}

.intro-section{
    width: 90%;
    padding-left: 5%;
    padding-right: 5%;
}

.intro-section img{
    width: 40%;

    max-width: 140px;
    max-height: 140px;

    padding-right: 2.5%;
}

.information-section{
    width: 90%;

    padding-left: 5%;
    padding-right: 5%;
}

.project-entry{
    background-color: var(--nav-colour);
    width: 100%;

    border-radius: 25px;

    margin-bottom: 40px;

    display: flex;
    flex-direction: column;
}

.project-entry p{
    width: 90%;

    padding-left: 5%;
    padding-right: 5%;

    padding-top: 0;
    margin-top: 0;
}

.project-entry img{
    width: 80%;

    padding-left: 10%;
    padding-right: 10%;

    padding-top: 5%;
}

.project-entry h2{
    width: 90%;

    padding-left: 5%;
    padding-right: 5%;

    margin-top: 2%;
    margin-bottom: 2%;
}

.skills-section img{
    max-width: 48px;
    max-height: 48px;
}

.links-holder{
    display: grid;

    grid-template-columns: repeat(auto-fill, minmax(150px, 2fr));

    gap: 20px;
    padding: 20px;
}

.links-holder a{
    position: relative;

    display: block;

    min-width: 200px;
}

.footer{
    background-color: var(--nav-colour);

    width: 100vw;
}

.footer p{
    width: 100%;
    text-align: center;
}

li{
    font-family: "Outfit", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    font-size: 12pt;
    color: var(--text-colour);

    padding-bottom: 5px;
}

.skills-logo-holder img{
    padding-right: 2.5%;
}

/* #region Desktop Styling */
@media only screen and (min-width: 760px){

/* Outer Div Styling */
.outer-row-container{
    display: flex;
    flex-direction: row;

    width: 100%;
}

/* General Side Nav */
.navigation {
    background-color: var(--nav-colour);

    display: flex;
    flex-direction: column;

    position: sticky;
    top: 0;

    height: 100vh;
    width: 15%;
    max-width: 150px;

    float: left;
}

.navigation a{
    padding-top: 40px;
    text-align: center;
}

/* Header Setup */
.header-image{
    box-sizing: border-box;

    width: 100%;
    height: 480px;

    display: flex;
    flex-direction: column;

    background-image: var(--header-img);
    background-color: #22333B;
}

.header-image h1{
    text-align: center;
    vertical-align: middle;

    padding-top: 10%;
}

.header-image h2{
    text-align: center;
}

/* Intro Section */
.intro-section{
    width: 80%;

    padding-left: 10%;
    padding-right: 10%;

    display: flex;
    flex-direction: row;
}

.intro-section img{
    width: 40%;

    max-width: 360px;
    max-height: 360px;
}

.intro-section div{
    width: 50%;

    padding-left: 5%;
    padding-right: 5%;

    display: flex;
    flex-direction: column;
}

.intro-section p{
    margin-top: 0;
}

/* Div Information Setup */
.information-section{
    width: 80%;
    padding-left: 10%;
    padding-right: 10%;
}

/* Skills */
.skills-section{
    display: flex;
    flex-direction: row;
}

.heading-logo-holder{
    width: 33%;
    display: flex;
    flex-direction: column;
}

.skills-text{
    width: 80%;
}

.skills-section img{
    max-width: 64px;
    max-height: 64px;

    padding-right: 2.5%;
}

li{
    font-family: "Outfit", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    font-size: 12pt;
    color: var(--text-colour);
}

/* Projects Overview */
.project-entry{
    background-color: var(--nav-colour);

    border-radius: 25px;

    width: 100%;
    height: 265px;
    
    margin-bottom: 40px;

    display: flex;
    flex-direction: row;
}

.project-entry p{
    width: 90%;
}

.project-entry img{
    max-height: 80%;
    width: 30%;

    max-width: 420px;

    padding-left: 5%;
    padding-right: 5%;

    align-self: center;
}

.project-text-container{
    display: flex;
    flex-direction: column;
}

.project-text-container img{
    max-width: 64px;

    align-self: flex-start;
    padding: 0;
}

/* Projects Image Gallery */
.gallery{
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(750px, 2fr));
    gap: 20px;
    padding: 20px;
}

.gallery-item{
    position: relative;
    overflow: hidden;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.gallery-item img{
    width: 100%;
    height: auto;
    display: block;
}

/* Contact/Links */
/* Div class to hold contact links */
.links-holder{
    display: flex;
    width: 90%;
}

.links-holder a{
    width: 25%;

    align-self: center;
    align-self: flex-end;
}

.links-holder p{
    text-align: center;
}

.links-holder img{
    display: block;
    margin-left: auto;
    margin-right: auto;

    max-width: 64px;
    max-height: 64px;
}

/* Header Setup */
.index-header{
    width: 100%;
    height: 560px;
}

/* Footer */
.footer{
    background-color: var(--nav-colour);

    width: 100%;
    height: 45px;

    display: flex;
    align-items: center;
}

.footer p{
    width: 50%;
    padding-left: 25%;
    padding-right: 25%;
    text-align: center;
    margin: 0;
}
}

/* #endregion Desktop Styling */