// Style Document
body {
	font-family: Arial;
}

h1 {
	font-family: Arial;
	font-size: 40px;
}

p {
	font-family: Arial;
	color: black;
}

ul {
	margin: 0;
	padding: 0;
	overflow: hidden;
	position: -webkit-sticky;
	position: sticky;
	top: 0;
}

.topnav {
	background-color: #333;
	overflow: hidden;
}

.topnav a {
	font-family: Arial;
	background-color: #333;
	color: white;
	text-align: center;
	padding: 14px 16px;
	text-decoration: none;
	font-size: 17px;
}

.topnav a:hover {
	background-color: #17dfe6;
	color: white;
}

.topnav a.active {
	background-color: orange;
	color: black;
}