/* Style Document */
/* All Styling done by Jake Harkins */

/* Roboto Font Import */
@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

body {
	font-family: 'Roboto', sans-serif;
	width: auto;
	margin: 0;
	background-color: white;
	text-align: left;
}

h1 {
	font-family: 'Roboto', sans-serif;
	font-size: 40px;
	text-align: center;
}

p {
	font-family: 'Roboto', sans-serif;
	color: #000000;
	text-align: center;
	width: 85%;
	margin-left: auto;
	margin-right: auto;
}

.container{
	display: flex;
	width: 100%;
}

/* NAVIGATION */
.topnav{
	position: sticky;
	position: -webkit-sticky;
	width: 100%;
	display: flex;
	background-color: whitesmoke;
	max-height: 50px;
}

.topnav-header{
	display: inline-block;
	width: 50%;
	height: 5%;
}

.topnav-header p{
	text-align: left;
}

.topnav-links{
	display: inline-block;
	height: 5%;
	width: 50%;
	text-align: center;
}

.link{
	display: inline-block;
	padding: 0 2% 0 2%;
}

.topnav-links p:hover {
	color: cyan;
}

.topnav-links p.active {
	color: blue;
	text-emphasis: bold;
}

/* PROJECTS */
.project-small{
	background-color: aliceblue;
	display: flex;
	width: 90%;
	height: auto;
	max-height: 270px;
	margin: 1% 5% 1% 5%;
}

.project-small .img-div{
	display: inline-block;
	vertical-align: middle;
	width: 25%;
	height: 100%;
}

.project-small .body{
	display: inline-block;
	vertical-align: top;
	width: 75%;
	height: 100%;
}

.project-small h1{
	padding-left: 5%;
	font-size: 24px;
	text-align: left;
}

.project-small p{
	text-align: left;
	margin-left: 5%;
}

.project-small .overview-img{
	vertical-align: middle;
	max-width: 100%;
	max-height: 220px;
	padding: 1%;
}

.badge{
	display: flex;
	flex-direction: row;
	padding-left: 5%;
	margin-right: -2.5%;
	align-self: flex;
	padding-bottom: 1%;
}

.project-link {
    text-decoration: none;
    color: inherit;
}

.project-small:hover{
	background-color: lightblue;
}

.project-styler{
	color: darkgray;
	font-size: 28px;
	text-align: left;
	padding-left: 2.5%;
}

.project-header{
	font-size: 28px;
	text-align: left;
	padding-left: 2.5%;
}

.project-overview{
	max-width: 50%;
}

.project-overview-r{
	text-align: left;
	width: 40%;
}

.project-overview-l{
	text-align: right;
	width: 40%;
}

.project-img{
	max-width: 90%;
	padding: 2.5% 5% 2.5% 5%;
}

/* ABOUT ME */
.about-me-left {
	width: 50%;
	display: inline-block;
	height: 80%;
	min-height: 450px;
}

.about-me-left p{
	vertical-align: top;
	font-size: 22px;
	text-align: left;
	padding: 0 10% 0 10%;
}

.about-me-left h1{
	padding: 10% 10% 0 10%;
	font-size: 22px;
	text-align: left;
}

.about-me-right {
	width: 50%;
	height: 80%;
	min-height: 450px;
	display: inline-block;
}

.about-me-right h1{
	font-size: 20px;
	text-align: left;
	padding-top: 10%;
}

.about-me-right h2{
	font-size: 20px;
	text-align: left;
}

.about-me-right p{
	text-align: left;
}

/* Main Body */
.main-body{
	width: 50%;
	height: auto;
	min-height: 100px;
	background-color: #17dfe6;
	margin-left: auto;
	margin-right: auto;
	display: inline-block;
}

/* FOOTER */
footer{
	height: 150px;
	width: 100%;
	background-color: whitesmoke;
	position: fixed;
	bottom: 0;
}

footer a:visited{
	color: black;
}

footer img{
	height: 20px;
	width: 20px;
	vertical-align: auto;
}

footer p, a{
	text-align: center;
}

footer h1{
	padding: 10px;
	font-size: 15px;
	color: black;
}

.find-me{
	text-align: center;
	font-family: 'Roboto', sans-serif;
}

.find-me a{
	color: black;
}

.find-me article{
	display: inline-block;
	padding-inline: 15px;
	height: 40%;
}

.creatornote{
	font-size: 12px;
	color: darkgrey;
	height: 20%;
	text-align: left;
}